/* ESTILOS CSS DESKTOP */

html{
    font-size: 100%;
}

a{
    text-decoration: none;
    text-decoration-line: none;
    color: inherit;
}

h1{
    font-family: "Handlee";
    font-size: 2rem;
}

h2, h3, h4, p{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

.contAzul{
    background-color: #21242e;
    color: white;
    height: 50px;
    align-content:space-evenly;
}

strong{
    font-weight: bold;
}

.enlacesParejas{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
}

.flex{
    display: flex;
    gap: 10px;
}

.orange{
    color: #fa573a;
}

.white{
    color: white;
}

.contBlanco{
    background-color: white;
    color: darkgrey;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

.iconoRovers{
    display: flex;
    align-items: left;
}

.enlacesMenu{
    display: flex;
    gap: 20px;
    align-items: right;
}

.logo{
    height: 30%;
    padding-top: 30px;
}

.contPrincipal{
    height: 500px;
    background-image: url(./images/fondo.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #999;
    color: white;
    display: flex;
    align-items: center;
}

.barraCentral{
    margin-left: 20%;
    margin-right: 20%;    
}

.leerMas{
    background-color: #fa573a;
    width: fit-content;
    padding: 10px;
}

.leerMas:hover {
    background-color: transparent;
    border: solid #fa573a;
    color: #fa573a;
    cursor: pointer;
} 

.fa-brands {
    font-size: 1.5rem;
    width: 40px;
}

.fa-gears{
    font-size: 1.5rem;
    width: fit-content;
    padding: 5px;
    border: 1px solid;
}

.fa-truck{
    font-size: 1.5rem;
    width: fit-content;
    padding: 5px;
    border: 1px solid;
}

.fa-heart{
    font-size: 1.5rem;
    width: fit-content;
    padding: 5px;
    border: 1px solid;
}

.contServicios{
    margin-left: 20%;
    margin-right: 20%;
    height: fit-content;
    margin-block: 5%;
}

.titulosSection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 20%;
    margin-block: 3%;
}

.contArticulos{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    height: 80%;
}

.align{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contAbout{
    margin-left: 20%;
    margin-right: 20%;
    height: fit-content;
    margin-block: 5%;
}

.button{
    background-color: #fa573a;
    font-size: 3rem;
    color: white;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 60px;
}

.fa-caret-up{
    display: flex;
    align-items: center;
    justify-content: center;
}

.barraFooter{
    background-color: #21242e;
    color: white;
    height: 50px;
    width: 100%;
    position: fixed;
    gap: 10px;
    bottom: 0px;
    align-content: space-evenly;
}

.enlacesFooter{
    display: flex;
    align-items: left;
    gap: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

.imgArt{
   width: 50%;
}

.marco{
   border: solid #fa573a 3px;
   transform: rotateZ(10deg);
   transition: 1s;
}

.marco:hover{
    border: solid #fa573a 3px;
    cursor: pointer;
    transform: rotateY(10deg)
}

.hamburguesa{
    display: none;
}

/* MEDIA QUERIES FORMATO MÓVIL (BOOTSTRAP "XS" <576px) */

@media screen and (max-width: 576px) {
 
img{
   width: 100%;
   height: auto;
   display: block;
}

.noDisplay{
display: none;
}

main{
    display: flex;
    flex-direction: column;
}

.contBlanco{
    height: auto;
    display: block;
}

.logo{
    width: 50%;
    justify-content: center;
}

.contIconos{
    display: flex;
}

/* PENDIENTE DE VER POR QUÉ NO FUNCIONA LA HAMBURGUESA */

.enlacesParejas{
    margin-inline: 10%;
}

.contBlanco{
    margin-inline: 10%;
}

.contIconos{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.iconoRovers{
    display: block;
}

.hamburguesa{
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(./images/menu_hamburguesa.svg);
    background-size: cover;
    color: darkgray;
}

.contMenu{
    margin-block: 10%;
}

.enlacesMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contPrincipal{
    height: auto;
}

.barraCentral{
    margin-inline: 10%;
    margin-block: 10%;
}

.contServicios{
    height: auto;
    margin-inline: 10%;
    margin-block: 10%;
}

.contAbout{
    height: auto;
    margin-inline: 10%;
}

.contArticulos {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-evenly;
}

.enlacesFooter{
    display: flex;
    align-items: left;
    gap: 10px;
    justify-content: center;
}

}




