  /*    
  PENDIENTE:
  - alinear iconos redes
  - alinear links barras
  - alinear contenido artículos (ponerle height auto y añadir margins?)


  ! revisar inspector pagina real (columna central etiqueta container)
  ! usar inspector para marcar y desmarcar cosas y no tener que estar escribiendo y borrando todo el rato en el doc

*/

a{
    text-decoration: none;
    text-decoration-line: none;
    color: inherit;
}

h1{
    font-family: "Handlee";
    font-size: x-large;
    height: 30px;
}

h2, h3, h4, p{
    font-family: "Montserrat", sans-serif;
    font-size: small;
    height: 30px;
}

.contAzul{
    background-color: #21242e;
    color: white;
    height: 50px;
    align-content:space-evenly;
    padding-top: 10px;
}

strong{
    font-weight: bold;
}

.barraLinks{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
}

.flex{
    display: flex;
    gap: 10px;
}

.orange{
    color: #fa573a;
}

.white{
    color: white;
}

.navLinks{
    background-color: white;
    color: darkgrey;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 15px;

}

.justificarIzquierda{
    display: flex;
    align-items: left;
}

.justificarDerecha{
    display: flex;
    gap: 20px;
    align-items: right;
}

/*
.justificarDerecha:hover{
    color: #fa573a;
    cursor: pointer;
}
    */

.logo{
    height: 40%;
    padding-top: 15px;
}

.principal{
    height: 500px;
    background-image: url(./images/fondo.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #999;
    color: white;
    display: flex;
    align-items: center;
}

.barraCentral{
    margin-left: 20%;
    margin-right: 20%;    
}

.leerMas{
    background-color: #fa573a;
    width: fit-content;
    align-content: center;
}

.leerMas:hover {
    background-color: transparent;
    border: solid #fa573a;
    color: #fa573a;
    cursor: pointer;
} 

.fa-brands {
    font-size: x-large;
    width: 40px;
}

.fa-gears{
    font-size: x-large;
    width: 30px;
    height: 30px;
    border: 1px solid;
}

.fa-truck{
    font-size: x-large;
    width: 30px;
    height: 30px;
    border: 1px solid;
}

.fa-heart{
    font-size: x-large;
    width: 30px;
    height: 30px;
    border: 1px solid;
}

.servicios{
    margin-left: 20%;
    margin-right: 20%;
    height: 200px;
}

.titulosSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.containerArt{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    height: 80%;
}


.about{
    height: 400px;
    margin-left: 20%;
    margin-right: 20%;
}

.button{
    background-color: #fa573a;
    font-size: 50px;
    color: white;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 60px;
}

.fa-caret-up{
display: flex;
align-items: center;
justify-content: center;
}

.barraFooter{
    background-color: #21242e;
    font-size: x-large;
    color: white;
    height: 50px;
    width: 100%;
    position: fixed;
    gap: 10px;
    bottom: 0px;
    align-content: space-evenly;
}

.footerLinks{
    display: flex;
    align-items: left;
    gap: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
}

.imgArt{
    width: 50%;
    border: solid #fa573a;
    
}

.imgArt:hover{
    border: solid #fa573a;
    cursor: pointer;
    transform: rotateZ(10deg);
}



/* MEDIA QUERIES RESPONSIVE */

