  /*    RECORDAR LA ETIQUETA SPAN QUE NO TIENE CARGA SEMÁNTICA Y PUEDE SERVIR A LA HORA DE DESTACAR PARTES DEL TEXTO
*/

a{
    text-decoration: none;
}

h1{
    font-family: "Handlee";
    font-size: large;
}

h2, h3, h4, p{
    font-family: Helvetica, sans-serif;
    font-size: small;
}

.barralinks{
    background-color: navy;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.orange{
    color: orange;
}

.white{
    color: white;
}

.navlinks{
    background-color: white;
    color: darkgrey;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 20px;
}

.secprincipal{
    background-image: url(./images/fondo.jpg);
    height: 500px;
}

.servicios{
height: 300px;
}

.espacioarticulos{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.about{
    height: 400px;
}

.barrafooter{
    background-color: navy;
    color: white;
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.imgArt{
    width: 200px;
}

.formatArt{
width: 200px;
}
